<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RinHack 2024 ROSTOV</title>
</head>
<body>
    <h1></h1>
    <form action="/vulnerabilities">
        <input type="submit" value="Уязвимости">
    </form>
    <form action="/administration">
        <input type="submit" value="Администрирование">
    </form>
    <form action="/create_profile">
        <input type="submit" value="Создать профиль">
    </form>
    <form action="/check">
        <input type="submit" value="Проверка">
    </form>
</body>
</html>
